@model (WorkflowAllDTO workflow, bool selected)

<div id="@Model.workflow.Id" class="col-12 p-2 pointer" onclick="DetailTransition(this, '/Workflow/DetailPartial/', true, AddEventListeners)">
    <div class="shadow-box p-3 my-card bradius-card hover-card @(Model.selected ? "selected-card" : "")">
        <div id="@Model.workflow.Id" class="row">
            <div class="col-12 col-lg-6 my-auto">
                @Html.Raw(Model.workflow.SVG)
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="text-center border-bottom wf-headline">@Model.workflow.Name</h3>
                @if (String.IsNullOrEmpty(Model.workflow.Description))
                {
                    <div class="text-placeholder my-2">Workflow nemá popis.</div>
                }
                else
                {
                    <div class="mt-2 text-descr">@Model.workflow.Description</div>
                }
                <div class="d-flex justify-content-around mt-2">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="text-center mx-1">Stav:</div>
                        <div class="badge rounded-pill text-1em @Model.workflow.State mx-1 my-auto">
                            @Model.workflow.State.ToLabel()
                        </div>
                    </div>
                    <div class="my-auto d-flex flex-wrap justify-content-center">
                        <div class="text-center mx-1">Správce:</div>
                        <b class="mx-1">@Model.workflow.AdministratorName</b>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="d-flex justify-content-center">
                            <a href="/Agenda/Detail/@Model.workflow.AgendaId" class="link-p" onclick="event.stopPropagation()">
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-list-alt task-icon"></i>
                                </div>
                                <h4 class="text-center mb-0">@Model.workflow.AgendaName</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-center">
                            <a href="/Model/Detail/@Model.workflow.ModelId" class="link-p" onclick="event.stopPropagation()">
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-clone task-icon"></i>
                                </div>
                                <h4 class="text-center mb-0">@Model.workflow.ModelName</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>