@model WorkflowDetailInfoDTO

<div class="d-flex justify-content-center">
    <h1 class="text-font mb-0 me-1">@Model.Name</h1>
    <div class="badge rounded-pill text-large ms-1 my-auto @Model.State">
        @Model.State.ToLabel()
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-5">
        <h4 class="text-center text-font my-1">Správce</h4>
        <div class="d-flex justify-content-center">
            <div class="me-1">
                Jméno:<br>
                Email:
            </div>
            <b class="d-block ms-1">
                @Model.AdministratorName<br>
                @Model.AdministratorEmail
            </b>
        </div>
    </div>
    <div class="col-12 col-lg-7">
        <h4 class="text-center text-font my-1">Popis</h4>
        @if (String.IsNullOrEmpty(Model.Description))
        {
            <div class="text-placeholder">Workflow nemá popis.</div>
        }
        else
        {
            @Model.Description
        }
    </div>
</div>
