@model WorkflowDetailInfoDTO

<div class="d-flex justify-content-center">
    <h1 class="text-font my-auto me-1">@Model.Name</h1>
    <div class="badge rounded-pill text-large ms-1 my-auto @Model.State">
        @Model.State.ToLabel()
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <h4 class="text-center text-font my-1">Správce</h4>
        <div class="d-flex justify-content-center">
            <div class="me-1">
                Jméno:<br>
                Email:
            </div>
            <b class="d-block ms-1">
                @Model.AdministratorName<br>
                @Model.AdministratorEmail
            </b>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        @if (Model.State == WorkflowStateEnum.Finished)
        {
            <h4 class="text-center text-font my-1">Datum dokončení</h4>
            <div class="d-flex justify-content-center mb-2">
                <b class="text-success">@Model.End.ToLongDateString()</b>
            </div>
        }
        <h4 class="text-center text-font my-1">Očekávané datum dokončení</h4>
        <div class="d-flex justify-content-center">
            @if (Model.ExpectedEnd < DateTime.Now && Model.State < WorkflowStateEnum.Finished)
            {
                <b class="text-danger">@Model.ExpectedEnd.ToLongDateString()</b>
            }
            else if (Model.ExpectedEnd < DateTime.Now.AddDays(3) && Model.State < WorkflowStateEnum.Finished)
            {
                <b class="text-alert">@Model.ExpectedEnd.ToLongDateString()</b>
            }
            else
            {
                <b>@Model.ExpectedEnd.ToLongDateString()</b>
            }
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
        <h4 class="text-center text-font my-1">Popis</h4>
        @if (String.IsNullOrEmpty(Model.Description))
        {
            <div class="text-placeholder">Workflow nemá popis.</div>
        }
        else
        {
            <div class="text-descr">@Model.Description</div>
        }
    </div>
</div>
