@model BlockWorkflowConfigDTO
@{
    string action = Model is IUserTaskWorkflowConfigDTO ? "EditUserTask" : Model is IServiceTaskWorkflowConfigDTO ? "EditServiceTask" : "Edit";
}

<div class="row">
    <div class="col-12 col-lg-6 mt-3">
        <label class="input">
            <div class="readonly-div">@Model.Name</div>
            <span class="input-label">Název</span>
        </label>
    </div>
    <div class="col-12 col-lg-6 mt-3">
        <label class="input">
            @if (Model.SolvedDate == DateTime.MinValue)
            {
                <div class="readonly-div text-secondary text-italic">Nevyřešeno</div>
            }
            else
            {
                <div class="readonly-div">@Model.SolvedDate.ToLocalTime()</div>
            }
            <span class="input-label">Datum vyřešení</span>
        </label>
    </div>
    @if (Model is IServiceTaskWorkflowConfigDTO)
    {
        <div class="col-12 col-lg-6 mt-3">
            <label class="input">
                <div class="readonly-div">@Model.Description</div>
                <span class="input-label">Popis</span>
            </label>
        </div>
        @await Html.PartialAsync("Partial/_ServiceTaskConfig", Model)
    }
    else
    {
        <div class="col-12 mt-3">
            <label class="input">
                <div class="readonly-div">@Model.Description</div>
                <span class="input-label">Popis</span>
            </label>
        </div>
    }
</div>
@if (Model is ITaskWorkflowConfigDTO)
{
    <hr class="mt-3 mb-0">
    <form id="BlockEditFormId" class="row" action="/BlockWorkflow/@action" onsubmit="AjaxFormSubmit(event, null, true)" novalidate
          oninput="InputValidator(this)">
        <input type="hidden" name="Id" value="@Model.Id" />
        @await Html.PartialAsync("Partial/_TaskConfig", Model)
        @if (Model is IUserTaskWorkflowConfigDTO)
        {
            @await Html.PartialAsync("Partial/_UserTaskConfig", Model)
        }
        <div class="d-flex justify-content-center mt-3 mb-1">
            <button form="BlockEditFormId" type="submit" class="butn btn-s">Upravit</button>
        </div>
    </form>
}
else if (Model is ISendEventWorfklowConfig)
{
    <form id="ResendFormId" class="row" action="/Task/Resend/@Model.Id" onsubmit="AjaxFormSubmit(event, null, true)" novalidate>
        <div class="d-flex justify-content-center mt-3 mb-1">
            <button form="ResendFormId" type="submit" class="butn btn-s">Znovu odeslat</button>
        </div>
    </form>
}
else 
{
    <div class="py-1"></div>
}

@if (Model is IOutputData)
{
    <h4 class="text-center text-font mb-0 mt-2">Výstupní data bloku</h4>
    <div class="row mb-3">
        @await Html.PartialAsync("Partial/_TaskData", (Model as IOutputData).OutputData)
    </div>
}
