@model AgendaDetailHeaderDTO

<div class="d-flex justify-content-between px-4 page-navbar-content">
    <button type="button" class="btn my-auto"><i class="fas fa-chevron-circle-left my-auto"></i></button>
    <h1 class="mb-0 pt-1 text-font">Detail Agendy</h1>
    <div class="my-auto">
        <button class="butn btn-p" onclick="ShowModal('EditAgendaId')">Upravit</button>
    </div>
</div>
<form id="UploadModelFormId" class="mx-4 mt-4 mb-3 d-none" method="POST" action="/ModelUpload/Upload" enctype="multipart/form-data"
      oninput="InputValidator(this)">
    <input id="AgendaIdId" type="hidden" name="AgendaId" value="@Model.Id">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Nahrání modelu</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div class="row">
        <div class="col-12 mt-1">
            <label class="input">
                <input class="input-field" type="text" placeholder=" " name="Name" data-reqi="ModelNameLabelId" autocomplete="off" />
                <span id="ModelNameLabelId" class="input-label color-required">Název</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <label class="input">
                <input class="input-file" type="file" onchange="FileSelected(this)" name="BPMN" data-reqf="BpmnFileLabelId" accept=".bpmn"/>
                <span id="BpmnFileLabelId" class="input-label pointer color-required">Soubor BPMN</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <label class="input">
                <input class="input-file" type="file" onchange="FileSelected(this)" name="SVG" data-reqf="SvgFileLabelId" accept=".svg" />
                <span id="SvgFileLabelId" class="input-label pointer color-required">Soubor SVG</span>
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button form="UploadModelFormId" type="submit" class="butn btn-s" disabled>Nahrát</button>
    </div>
</form>
<form id="EditAgendaId" class="mx-4 mt-4 mb-3 d-none" action="/Agenda/Edit" onsubmit="AjaxFormSubmit(event, 'AgendaInfoId', null, null, null, true)">
    <input type="hidden" name="Id" value="@Model.Id">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Editace agendy</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div class="row">
        <div class="col-12 mt-1">
            <label class="input">
                <input class="input-field" type="text" placeholder=" " name="Name" data-reqi="AgendaNameLabelId" 
                       autocomplete="off" value="@Model.Name" />
                <span id="AgendaNameLabelId" class="input-label">Název</span>
            </label>
        </div>
        <div class="col-12 mt-3">
            <label class="input mb-1">
                <textarea name="Description" class="input-field" placeholder=" ">@Model.Description</textarea>
                <span class="input-label">Popis</span>
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button form="EditAgendaId" type="submit" class="butn btn-s">Upravit</button>
    </div>
</form>
<form id="AddRoleFormId" class="mx-4 mt-4 mb-3 d-none" action="/Agenda/AddRole" 
      onsubmit="AjaxFormSubmit(event, 'AgendaRolesId', null, null, null, true)" oninput="InputValidator(this)">
    <input type="hidden" name="AgendaId" value="@Model.Id">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Přidání role</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div id="AddRoleId" class="row">
        <div class="loading-content"></div>
    </div>
</form>
<div id="ModelModalId" class="d-none p-3">
    <div class="d-flex">
        <div class="container-lg">

        </div>
        <div class="overview-nav">

        </div>
    </div>
</div>
