@model ITaskNumber

<div class="col-12 col-xl-6 mt-3">
    <label class="input" @Html.Raw(String.IsNullOrEmpty(Model.Description) ? "" : $"data-title='{Model.Description}'")>
        <input @(Model.Compulsory ? "required" : "") class="input-field" type="number" placeholder=" " name="@Model.Id" value="@Model.Value" />
        <span class="input-label">@Model.Name</span>
    </label>
</div>
