@model ITaskText

<div class="col-12 col-xl-6 mt-3">
    <label class="input" @Html.Raw(String.IsNullOrEmpty(Model.Description) ? "" : $"data-title='{Model.Description}'")>
        <textarea @(Model.Compulsory ? "required" : "") class="input-field" placeholder=" " name="@Model.Id">@Model.Value</textarea>
        <span class="input-label">@Model.Name</span>
    </label>
</div>
