@model (ITaskNumber data, bool editable)

<div class="col-12 col-xl-6 mt-3">
    <label class="input" @Html.Raw(String.IsNullOrEmpty(Model.data.Description) ? "" : $"data-title='{Model.data.Description}'")>
        <input @(Model.data.Compulsory ? "required" : "") class="input-field" type="number" placeholder=" " 
               name="@Model.data.Id" value="@Model.data.Value" @(Model.editable ? "" : "readonly")/>
        <span class="input-label">@Model.data.Name</span>
    </label>
</div>
