@model (TaskAllDTO task, bool selected)

<div id="@Model.task.Id" class="col-12 col-md-6 col-lg-4 pointer p-2" 
     onclick="DetailTransition(this, '/Task/@(Model.task.Type == TaskTypeEnum.UserTask ? "UserDetailPartial/" : "ServiceDetailPartial/")', false, ValidateTask)">
    <div class="shadow-box p-3 my-card bradius-card hover-card pointer @(Model.selected ? "selected-card" : "")">
        <h3 class="border-bottom text-center">@Model.task.TaskName</h3>
        <div class="row mb-1 mt-2">
            <div class="col-6 text-right">
                Priorita:
            </div>
            <div class="col-6 ps-0">
                <span class="badge @Model.task.Priority rounded-pill text-1em px-3">
                    @Model.task.Priority.ToLabel()
                </span>
            </div>
        </div>
        @if (Model.task.SolveDate > DateTime.MinValue)
        {
            <div class="row mb-1">
                <div class="col-6 text-right">
                    Dokončit do: 
                </div>
                <div class="col-6 ps-0">
                    @if (Model.task.SolveDate < DateTime.Now)
                    {
                        <b class="text-danger">@Model.task.SolveDate.ToShortDateString()</b>
                    }
                    else if (Model.task.SolveDate < DateTime.Now.AddDays(3))
                    {
                        <b class="text-alert">@Model.task.SolveDate.ToShortDateString()</b>
                    }
                    else
                    {
                        <b>@Model.task.SolveDate.ToShortDateString()</b>
                    }
                </div>
            </div>
        }
        <div class="row mb-1">
            <div class="col-6 text-right">
                Typ úkolu: 
            </div>
            <div class="col-6 ps-0">
                <b>@Model.task.Type.ToLabel()</b>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                Stav: 
            </div>
            <div class="col-6 ps-0">
                <span class="badge @Model.task.State rounded-pill text-1em px-3">
                    @Model.task.State.ToLabel()
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="/Agenda/Detail/@Model.task.AgendaId" class="w-100 link-p" onclick="event.stopPropagation()">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-list-alt mx-auto task-icon"></i>
                    </div>
                    <h4 class="text-center mb-0">@Model.task.AgendaName</h4>
                </a>
            </div>
            <div class="col-6">
                <a href="/Workflow/Detail/@Model.task.WorkflowId" class="w-100 link-p" onclick="event.stopPropagation()">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-retweet task-icon"></i>
                    </div>
                    <h4 class="text-center mb-0">@Model.task.WorkflowName</h4>
                </a>
            </div>
        </div>
    </div>
</div>