@model ITaskFile

@if (String.IsNullOrEmpty(Model.FileName))
{
    <div class="col-12 col-md-6 mt-3">
        <label class="input" @Html.Raw(String.IsNullOrEmpty(Model.Description) ? "" : $"data-title='{Model.Description}'")>
            <input required class="input-file" type="file" onchange="FileSelected(this)" name="@Model.Id" accept="@Model.FileFormats"/>
            <span class="input-label pointer">@Model.Name</span>
        </label>
    </div>
}
else
{
    <div id="@Model.Id" class="col-12 col-xl-6">
        <label class="input mt-3" @Html.Raw(String.IsNullOrEmpty(Model.Description) ? "" : $"data-title='{Model.Description}'")>
            <div class="flex-input-group">
                <div class="readonly-div">@Model.FileName</div>
                <i class="fas fa-download my-auto text-prim-edit pointer" onclick="DownloadFile(this)"></i>
                <i class="fas fa-times my-auto mx-2 pointer btn-remove" onclick="RemoveFile(this)"></i>
            </div>
            <span class="input-label">@Model.Name</span>
        </label>
        <label class="input mt-3 d-none">
            <input required class="input-file" type="file" onchange="FileSelected(this)" name="" accept="@Model.FileFormats"/>
            <span class="input-label pointer">@Model.Name</span>
        </label>
    </div>
}
