@model PoolConfigDTO
<form id="PoolEditFormId" class="row mt-1" action="/Pool/Edit" 
      onsubmit="AjaxFormSubmit(event, 'ModelSvgId', true, true, null, AddEventListeners)" novalidate>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="col-12 col-md-6 mb-3">
        <label class="input">
            <div class="readonly-div">@Model.Name</div>
            <span class="input-label">Název</span>
        </label>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label class="input">
            <select required class="input-select" name="SystemId"> 
                @foreach (SystemPickerDTO system in Model.Systems)
                {
                    if (system.Id == Model.SystemId)
                    {
                        <option value="@system.Id" selected>@system.Name @(String.IsNullOrEmpty(system.URL) ? "" : $"({system.URL})")</option>
                    }
                    else
                    {
                        <option value="@system.Id" >@system.Name @(String.IsNullOrEmpty(system.URL) ? "" : $"({system.URL})")</option>
                    }
                }
            </select>
            <span class="input-label">Spolupracující systém</span>
        </label>
    </div>
    <div class="col-12 mb-2">
        <label class="input mb-2">
            <textarea name="Description" class="input-field" placeholder=" ">@Model.Description</textarea>
            <span class="input-label">Popis</span>
        </label>
    </div>
    <div class="d-flex justify-content-center mb-1">
        <button type="submit" form="PoolEditFormId" id="EditBtnId" class="butn btn-s">Upravit</button>
    </div>
</form>
