@model BlockModelConfigDTO

<form id="BlockEditFormId" class="row mt-1" action="/BlockModel/Edit" onsubmit="AjaxFormSubmit(event, null, true)" novalidate>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="col-12 @(Model is IDifficultyConfig ? "col-lg-6" : "") mb-3">
        <label class="input">
            <div class="readonly-div">@Model.Name</div>
            <span class="input-label">Název</span>
        </label>
    </div>
    @if (Model is IDifficultyConfig)
    {
        <div class="col-12 col-lg-6 mb-3">
            <label class="input">
                <input class="input-field" type="number" placeholder=" " name="Difficulty" value="@((Model as IDifficultyConfig).Difficulty)" />
                <span class="input-label">Obtížnost (dny)</span>
            </label>
        </div>
    }
    <div class="col-12 mb-2">
        <label class="input mb-2">
            <textarea name="Description" class="input-field" placeholder=" ">@Model.Description</textarea>
            <span class="input-label">Popis</span>
        </label>
    </div>

    @if (Model is IServiceConfig)
    {
        <div class="col-12 mb-3">
            @await Html.PartialAsync("Partial/_ServiceConfig", Model)
        </div>
    }
    <div class="d-flex justify-content-center mb-1">
        @if (Model is IOutputAttributesConfig)
        {
            <button type="button" id="NewAttBtnId" class="butn btn-p" onclick="ShowAddAttrib()">Přidat atribut</button>
        }
        @if (Model is IRecieveSignalEventModelConfig)
        {
            <button type="button" id="ChangeSenderBtnId" class="butn btn-p" onclick="ChangeSender('@Model.Id')">Změnit odesílatele</button>
        }
        <button type="submit" form="BlockEditFormId" id="EditBtnId" class="butn btn-s">Upravit</button>
    </div>
</form>
<div id="AttributesConfigId">
    @await Html.PartialAsync("Partial/_AttributesConfig", Model)
</div>
