@model BlockModelConfigDTO

@if (Model != null)
{
    <form id="BlockEditFormId" class="row mt-1">
        <div class="col-12">
            <label class="input">
                <input name="Name" class="input-field" type="text" placeholder=" " data-reqi="BlockNameLabelId" value="@Model.Name" />
                <span id="BlockNameLabelId" class="input-label">Název</span>
            </label>
        </div>
        <h4 class="mt-3">Data bloku</h4>
        @if (Model.RootNodes.Count() > 0)
        {   
            <div class="col-3 text-center text-bold border-end">
                Název
            </div>
            <div class="col-3 text-center text-bold border-start border-end">
                Alias
            </div>
            <div class="col-3 text-center text-bold border-start border-end">
                Typ
            </div>
            <div class="col-2 text-center text-bold border-start">
                Povinnost
            </div>
            <div class="col-12 schema-div mt-2">
                @await Html.PartialAsync("Partial/_BlockDataSchema", Model.RootNodes)
            </div>
        }
        else
        {
            <p class="text-center mb-2">
                Blok nemá konfigurovany žádné atributy.
            </p>
        }
    </form>
    <form id="AttribCreateFormId" class="row d-none" method="post" action="/BlockModel/CreateEditSchema" 
          onsubmit="BlockConfigSubmit(event, 'BlockConfigTargetId')" oninput="InputValidator(this)">
        <input type="hidden" name="Id" value="" />
        <input type="hidden" name="ParentId" value="null" />
        <input type="hidden" name="BlockId" value="@Model.Id" />
        <h5>Atributy bloku</h5>
        <div class="col-4">
            <label class="input">
                <input name="Name" class="input-field" data-reqi="AttribNameLabelId" type="text" placeholder=" " value="" />
                <span id="AttribNameLabelId" class="input-label color-required">Název</span>
            </label>
        </div>
        <div class="col-4">
            <label class="input">
                <input id="AliasId" name="Alias" class="input-field" type="text" placeholder=" " value="" />
                <span class="input-label">Alias</span>
            </label>
        </div>
        <div class="col-2">
            <label class="input">
                <select class="input-field input-select" name="DataType"> 
                    <option value="@DataTypeEnum.Object">Objekt</option>
                    <option value="@DataTypeEnum.String">Řetězec</option>
                    <option value="@DataTypeEnum.Number">Číslo</option>
                    <option value="@DataTypeEnum.Bool">Bool</option>
                    <option value="@DataTypeEnum.Array">Pole</option>
                </select>
                <span class="input-label">Typ</span>
            </label>
        </div>  
        <div class="col-2 vertical-justify-center">
            <div class="d-flex">
                <span id="CompulsoryLabelId" class="label-checkbox label-checkbox-checked">Povinnost</span>
                <input type="checkbox" id="CompulsoryId" name="Compulsory" class="checkbox" data-ch="CompulsoryLabelId" checked/>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center mt-3">
        <button type="button" id="NewAttBtnId" class="butn btn-p" onclick="ShowAddAttrib()">Přidat atribut</button>
        <button type="submit" form="BlockEditFormId" id="EditBtnId" class="butn btn-s" disabled>Upravit</button>
        <button type="submit" form="AttribCreateFormId" id="CreateAttBtnId" class="butn btn-s d-none" disabled>Vytvořit atribut</button>
        <button type="button" id="CancelAttBtnId" class="butn btn-d d-none" onclick="CancelAddAttrib()">Zrušit</button>
    </div>
}
