@model IServiceOutputAttributes

@if (Model.ServiceOutputAttributes != null && Model.ServiceOutputAttributes.Count > 0)
{
    <h4 class="mt-2">Atributy získané voláním webové služby</h4>
    <div class="row border-bottom-2">
        <div class="col-4 text-center text-bold">
            Název
        </div>
        <div class="col-4 text-center text-bold">
            Typ
        </div>
        <div class="col-2 text-center text-bold">
            Povinný
        </div>
        <div class="col-2 text-center text-bold">
            Zobrazit
        </div>
    </div>
    @foreach (ServiceTaskDataSchemaDTO group in Model.ServiceOutputAttributes)
    {
        <div class="row border-bottom">
            <h6 class="col-12 mb-0 py-1">Atributy bloku: <span class="text-prim">@group.Name</span></h6>
        </div>
        @foreach (DataSchemaAttributeDTO attrib in group.Attributes)
        {
            <div class="row border-bottom pt-1 pb-1">
                <div class="col-4 text-center text-bold">@attrib.Name</div>
                <div class="col-4 text-center text-code">@attrib.Type.ToLabel()</div>
                <div class="col-2 text-center">
                    <span class="badge @(attrib.Compulsory ? "bg-primary" : "bg-secondary") rounded-pill text-1em">
                        <i class="fas fa-check-circle"></i>
                    </span>
                </div>
                <div class="col-2 text-center">
                    <span class="badge @(attrib.Mapped ? "bg-success" : "bg-secondary") bg-su-se-change rounded-pill text-1em pointer" 
                            onclick="ToggleServiceMap(this, '@attrib.Id', '@group.Id')">
                        <i class="fas fa-check-circle"></i>
                    </span>
                </div>
            </div>
        }
    }
}
