@model List<BlockAttributeDTO>

@if (Model != null && Model.Count > 0)
{
    <div class="col-4 text-center text-bold">
        Název
    </div>
    <div class="col-4 text-center text-bold">
        Typ
    </div>
    <div class="col-4 text-center text-bold">
        Povinnost
    </div>
    <div class="d-flex-wrap border-bottom-2 mb-1 pb-1">
        <div class="col-6 text-center text-bold">
            Popis
        </div>
        <div class="col-6 text-center text-bold">
            Specifikace
        </div>
    </div>
    @foreach (BlockAttributeDTO attrib in Model)
    {
        <div id="@attrib.Id" class="d-flex-wrap mb-1 pb-1 border-bottom position-relative">
            <button class="btn attrib-edit" type="button" onclick="EditAttribute(this)"><i class="fas fa-edit"></i></button>
            <div class="col-4 text-center text-bold">@attrib.Name</div>
            <div class="col-4 text-center text-code">@attrib.Type.ToLabel()</div>
            <div class="col-4 text-center">
                <span class="badge @(attrib.Compulsory ? "bg-primary" : "bg-secondary") rounded-pill text-1em">
                    <i class="fas fa-check-circle"></i>
                </span>
            </div>
            <div class="col-6 text-center mt-2">@attrib.Description</div>
            <div class="col-6 text-center mt-2">
                @if (attrib.Type == AttributeTypeEnum.File)
                {
                    <ol>
                        @foreach (string spec in JsonConvert.DeserializeObject<List<string>>(attrib.Specification) ?? new List<string>())
                        {
                            <li>
                                typ souboru: <span class="text-code">@spec</span>
                            </li>
                        }
                    </ol>
                }
                else if (attrib.Type == AttributeTypeEnum.Selection)
                {
                    <ol>
                        @foreach (string spec in JsonConvert.DeserializeObject<List<string>>(attrib.Specification) ?? new List<string>())
                        {
                            <li>
                                hodnota výběru: <span class="text-code">@spec</span>
                            </li>
                        }
                    </ol>
                }
                else
                {
                    <text>Tento typ bloku neobsahuje specifikaci.</text>
                }
            </div>
        </div>
    }
}
else
{
    <p class="text-center mb-2">
        Blok nemá konfigurovany žádné atributy.
    </p>
}
