@model ServiceDetailHeaderDTO

<h1 class="text-font text-center mb-1">@Model.Name</h1>
<div class="row">
    <div class="text-center text-url-large">@Model.URL</div>
    <div class="col-12 col-lg-6">
        <h4 class="text-center text-font my-1">Atributy služby</h4>
        <div class="row">
            <div class="col-6 text-right px-2">HTTP metoda:</div>
            <div class="col-6 px-2"><b>@Model.HttpMethod</b></div>
        </div>
        <div class="row">
            <div class="col-6 text-right px-2">Serializace:</div>
            <div class="col-6 px-2"><b>@Model.Serialization.ToLabel()</b></div>
        </div>
        <div class="row">
            <div class="col-6 text-right px-2">Typ služby:</div>
            <div class="col-6 px-2"><b>@Model.Type</b></div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <h4 class="text-center text-font my-1">Popis</h4>
        @if (String.IsNullOrEmpty(Model.Description))
        {
            <div class="text-placeholder">Webová služba nemá popis.</div>
        }
        else
        {
            <div class="text-descr">@Model.Description</div>
        }
    </div>
</div>
