@model DataSchemaTestDTO
@{
    bool disabled = false;
}

@if (Model != null)
{
    <h4 class="text-font mb-3">Zadejte testovací data</h4>
    <form id="ServiceTestFormId" method="post" action="/Service/Test" oninput="InputValidator(this)" 
          onsubmit="AjaxFormSubmit(event, 'OutputInputId', false, false, null, ScrollGenerate)">
        <input type="hidden" name="ServiceId" value="@Model.ServiceId" /> 
        @foreach (DataSchemaAllDTO schema in Model.Schemas)
        {
            switch (schema.Type)
            {
                case DataTypeEnum.Number:
                case DataTypeEnum.String:
                    @if (schema.Compulsory)
                    {
                        disabled = true;
                        <label class="input mb-3">
                            <input required name="@schema.Id" class="input-field" type="@schema.Type.ToHtmlType()" 
                                   placeholder=" " value="@schema.StaticData" @(schema.StaticData == null ? "" : "disabled") />
                            <span class="input-label">
                                @schema.Name @(String.IsNullOrEmpty(schema.Alias) ? "" : $"({schema.Alias})")
                            </span>
                        </label>
                    }
                    else
                    {
                        <label class="input mb-3">
                            <input name="@schema.Id" class="input-field" type="@schema.Type.ToHtmlType()" placeholder=" "
                                   placeholder=" " value="@schema.StaticData" @(schema.StaticData == null ? "" : "disabled") />
                            <span class="input-label">
                                @schema.Name @(String.IsNullOrEmpty(schema.Alias) ? "" : $"({schema.Alias})")
                            </span>
                        </label>
                    }
                    break;
                
                case DataTypeEnum.Bool:
                    <label class="d-flex justify-content-center mb-3">
                        <input name="@schema.Id" type="checkbox" class="checkbox" checked/>
                        <span class="label-checkbox">@schema.Name @(String.IsNullOrEmpty(schema.Alias) ? "" : $"({schema.Alias})")</span>
                    </label>
                    break;
            }
        }
        <div class="d-flex justify-content-center">
            <input type="submit" form="ServiceTestFormId" class="butn btn-s" value="Generovat dotaz" onclick="SetFormAction(this, '/Service/Generate')" disabled="@disabled" />
            <input type="submit" form="ServiceTestFormId" class="butn btn-s" value="Volat službu" onclick="SetFormAction(this, '/Service/Test')" disabled="@disabled" />
            <button type="button" class="butn btn-d" onclick="CancelServiceTest()">Zrušit</button>
        </div>
    </form>
}
