@model (ServiceAllDTO dto, bool selected)

<div id="@Model.dto.Id" class="col-12 col-md-6 col-lg-4 p-2" onclick="DetailTransition(this, '/Service/DetailPartial/')">    
    <div class="shadow-box p-3 my-card bradius-card hover-card pointer @(Model.selected ? "selected-card" : "")">
        <h3 class="border-bottom text-center">@Model.dto.Name</h3>
        <div class="text-url text-center">@Model.dto.URL</div>
        <div class="row">
            <div class="col-6 text-right px-2">
                HTTP metoda:
            </div>
            <div class="col-6 px-2">
                <b>@Model.dto.HttpMethod</b>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right px-2">
                Serializace:
            </div>
            <div class="col-6 px-2">
                <b>@Model.dto.Serialization.ToLabel()</b>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right px-2">
                Typ služby:
            </div>
            <div class="col-6 px-2">
                <b>@Model.dto.Type</b>
            </div>
        </div>
    </div>
</div>