@model ServiceDetailHeaderDTO

<div class="d-flex justify-content-between px-4 page-navbar-content">
    <button type="button" class="btn my-auto"><i class="fas fa-chevron-circle-left my-auto mr-100"></i></button>
    <h1 class="my-auto text-font">Editace webové služby</h1>
    <div class="my-auto">
        <button type="button" class="butn btn-p" onclick="ShowCreateHeaderModal('HeaderModalId')">Nová hlavička</button>
        <button type="button" class="butn btn-p" onclick="ShowModal('EditFormId')">Upravit</button>
    </div>
</div>
<form id="HeaderModalId" class="mx-4 mt-4 mb-3 d-none" action="/Service/CreateEditHeader"
        onsubmit="AjaxFormSubmit(event, 'ServiceHeadersId', true)" oninput="InputValidator(this)">
    <input type="hidden" name="ServiceId" value="@Model.Id">
    <input type="hidden" name="Id" value="">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Tvorba hlavičky webové služby</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="input">
                <input required class="input-field" type="text" placeholder=" " name="Name" />
                <span class="input-label">Název</span>
            </label>
        </div>
        <div class="col-6">
            <label class="input">
                <input required class="input-field" type="text" placeholder=" " name="Value" />
                <span class="input-label">Hodnota</span>
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button form="HeaderModalId" type="submit" class="butn btn-s" disabled>Vytvořit</button>
    </div>
</form>
<form id="EditFormId" class="mx-4 mt-4 mb-3 d-none" method="POST" action="/Service/Edit/" oninput="InputValidator(this)"
      onsubmit="AjaxFormSubmit(event, null, true, false, null, InfoCardUpdate)">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Editace webové služby</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <label class="input">
                <input required name="URL" class="input-field" type="url" data-url="URLLabelId" placeholder=" " value="@Model.URL"/>
                <span id="URLLabelId" class="input-label">URL služby</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label class="input">
                <input required name="Name" class="input-field" type="text" placeholder=" " value="@Model.Name" />
                <span class="input-label">Název</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label class="input">
                <select class="input-select" name="Type"> 
                    @foreach (ServiceTypeEnum type in Enum.GetValues<ServiceTypeEnum>())
                    {
                        if (type == Model.Type)
                        {
                            <option value="@type" selected>@type</option>
                        }
                        else
                        {
                            <option value="@type">@type</option>
                        }
                    }
                </select>
                <span class="input-label">Typ služby</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label class="input">
                <select class="input-select" name="HttpMethod"> 
                    @foreach (HttpMethodEnum method in Enum.GetValues<HttpMethodEnum>())
                    {
                        if (method == Model.HttpMethod)
                        {
                            <option value="@method" selected>@method</option>
                        }
                        else
                        {
                            <option value="@method">@method</option>
                        }
                    }
                </select>
                <span class="input-label">HTTP metoda</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label class="input">
                <select class="input-select" name="Serialization"> 
                    @foreach (SerializationEnum serialization in Enum.GetValues<SerializationEnum>())
                    {
                        if (serialization == Model.Serialization)
                        {
                            <option value="@serialization" selected>@serialization.ToLabel()</option>
                        }
                        else
                        {
                            <option value="@serialization">@serialization.ToLabel()</option>
                        }
                    }
                </select>
                <span class="input-label">Serializace dat</span>
            </label>
        </div>
        <div class="col-12 mb-2">
            <label class="input">
                <textarea name="Description" class="input-field" type="text" placeholder=" ">@Model.Description</textarea>
                <span class="input-label">Popis</span>
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-1">
        <button form="EditFormId" type="submit" class="butn btn-s" disabled>Upravit</button>
    </div>    
</form>
