@model SystemDetailHeaderDTO

<div class="d-flex justify-content-between px-4 page-navbar-content">
    <div class="my-auto">   
        <button type="button" class="btn btn-sm my-auto" onclick="OverviewTransition('/System/OverviewPartial')">
            <i class="fas fa-chevron-circle-left"></i>
        </button>
        <button type="button" class="btn btn-sm my-auto"><i class="fas fa-info-circle my-auto"></i></button>
    </div>
    <h1 class="my-auto text-font">Detail systému</h1>
    <div id="SystemBtnsId" class="my-auto nav-placeholder">
        @switch (Model.State)
        {
            case SystemStateEnum.Inactive:
            case SystemStateEnum.Reactivated:
                <button class="butn btn-s" onclick="ShowModal('ActivateFormId', '/System/ConnectionRequest/@Model.Id', 'ConnectionRequestId')">Povolit a aktivovat</button>
                break;
            
            case SystemStateEnum.Waiting:
                <button class="butn btn-s" disabled title="Žádost o navázání spojení již byla odeslána.">Aktivovat</button>
                break;
            
            case SystemStateEnum.Active:
                <button class="butn btn-d" onclick="Deactive()">Deaktivovat</button>
                break;
            
            case SystemStateEnum.Deactivated:
                <button class="butn btn-s" onclick="ShowModal('ReactivateFormId')">Aktivovat</button>
                break;
        }
        <button class="butn btn-p" onclick="ShowModal('EditSystemFormId')">Upravit</button>
    </div>
</div>
<form id="EditSystemFormId" class="mx-4 mt-4 mb-3 d-none" action="/System/Edit" oninput="InputValidator(this)"
      onsubmit="AjaxFormSubmit(event, null, true, false, null, InfoCardUpdate)">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Editace systému</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <input id="IdId" type="hidden" name="Id" value="@Model.Id" />
    <div class="row">
        <div class="col-12 mb-3">
            <label class="input">
                <input required class="input-field" type="text" placeholder=" " name="URL" value="@Model.URL" />
                <span class="input-label">URL systému</span>
            </label>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <label class="input">
                <select class="input-select" name="Encryption"> 
                    @foreach (EncryptionLevelEnum value in Enum.GetValues<EncryptionLevelEnum>())
                    {
                        @if (value == Model.Encryption)
                        {
                            <option value="@value" selected>@value.ToLabel()</option>
                        }
                        else
                        {
                            <option value="@value">@value.ToLabel()</option>
                        }
                    }
                </select>
                <span class="input-label">Zabezbečení</span>
            </label>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <label class="input">
                <input required class="input-field" type="text" placeholder=" " name="Name" value="@Model.Name" />
                <span class="input-label">Název</span>
            </label>
        </div>
        <div class="col-12 mb-2">
            <label class="input mb-1">
                <textarea class="input-field" name="Description" placeholder=" ">@Model.Description</textarea>
                <span class="input-label">Popis</span>
            </label>
        </div>
        <div class="d-flex justify-content-center">
            <button form="EditSystemFormId" type="submit" class="butn btn-s">Upravit</button>
        </div>
    </div>
</form>
<form id="ActivateFormId" class="mx-4 mt-4 mb-3 d-none" action="/System/AddActivate" oninput="InputValidator(this)"
      onsubmit="AjaxFormSubmit(event, null, true, false, null, SystemActivate)">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Aktivace systému</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div id="ConnectionRequestId" class="row"></div>
    <div class="row">
        <div class="col-12 mb-3">
            <label class="input">
                <input required class="input-field" type="text" placeholder=" " name="Name" value="@Model.Name" />
                <span class="input-label">Název</span>
            </label>
        </div>
        <div class="col-12 mb-2">
            <label class="input mb-1">
                <textarea class="input-field" name="Description" placeholder=" ">@Model.Description</textarea>
                <span class="input-label">Popis</span>
            </label>
        </div>
        <div class="col-12 mb-3">
            <label class="input">
                <input required class="input-field" type="password" placeholder=" " name="Password" />
                <span class="input-label">Vaše heslo</span>
            </label>
        </div>
        <div class="d-flex justify-content-center">
            <button form="ActivateFormId" type="submit" class="butn btn-s" disabled>Aktivovat</button>
        </div>
    </div>
</form>
<form id="ReactivateFormId" class="mx-4 mt-4 mb-3 d-none" action="/System/Reactivate" oninput="InputValidator(this)"
      onsubmit="AjaxFormSubmit(event, null, true, false, null, SystemReactivate)">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Aktivace systému</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div class="row">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="col-12 mb-2">
            <label class="input mb-1">
                <textarea required class="input-field" name="Text" placeholder=" "></textarea>
                <span class="input-label">Text pro příjemce</span>
            </label>
        </div>
        <div class="d-flex justify-content-center">
            <button form="ReactivateFormId" type="submit" class="butn btn-s" disabled>Aktivovat</button>
        </div>
    </div>
</form>