@model SystemDetailInfoDTO

<div class="d-flex justify-content-center">
        @if (String.IsNullOrEmpty(Model.Name))
        {
            <h1 class="text-font text-placeholder my-auto me-1">Nový systém</h1>
        }
        else
        {
            <h1 class="text-font my-auto me-1">@Model.Name</h1>
        }
    <div class="badge rounded-pill text-large ms-1 my-auto @Model.State">
        @Model.State.ToLabel()
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <h4 class="text-center text-font">URL systému</h4>
        <div class="text-url text-center">@Model.URL</div>
    </div>
    <div class="col-12 col-lg-6">
        <h4 class="text-center text-font my-1">Popis</h4>
        @if (String.IsNullOrEmpty(Model.Description))
        {
            <div class="text-placeholder">Systém nemá popis.</div>
        }
        else
        {
            <div class="text-descr">@Model.Description</div>
        }
    </div>
</div>
