@model (SystemAllDTO system, bool selected)

<div id="@Model.system.Id" class="col-12 col-md-6 col-lg-4 p-2 pointer" onclick="DetailTransition(this, '/System/DetailPartial/', false)">    
    <div class="shadow-box p-3 my-card bradius-card hover-card pointer @(Model.selected ? "selected-card" : "")">
        <h3 class="border-bottom text-center">@Model.system.Name</h3>
        <div class="text-url text-center mb-1">@Model.system.URL</div>
        @if (String.IsNullOrEmpty(Model.system.Description))
        {
            <div class="text-placeholder">Systém nemá popis.</div>
        }
        else
        {
            @Model.system.Description
        }
    </div>
</div>